
<ul class="nav navbar-nav navbar-right">
      <li>
        <a [router-link]=" [ '/Users/Signup' ]">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <a [router-link]=" [ '/Users/Signin' ]">Sign In</a>
      </li>
    </ul>
  <!---  <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
          <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a [router-link]="settings.profile">Edit Profile</a>
          </li>
          <li>
            <a [router-link]="settings.picture">Change Profile Picture</a>
          </li>
          <li ng-show="authentication.user.provider === 'local'">
            <a [router-link]="settings.password">Change Password</a>
          </li>
          <li>
            <a [router-link]="settings.accounts">Manage Social Accounts</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
    </ul>-->